In [1]:
%load_ext autoreload
%autoreload 2

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

import itertools

In [3]:
df_test = None

for i, f in enumerate([
    # 91 dataset
    'lgb-91-lve100-k5-test.csv',
    'lgb-91-lve48-k5-test.csv',
    'lgb-91-lve48-k10-test.csv',
    'xgb-91-k5-test.csv',

    # 480 dataset
    'lgb-480-lve100-k5-test.csv',
    'lgb-480-lve48-k5-test.csv',
    'lgb-480-lve48-k10-test.csv',
    
    # 308 dataset
    'lgb-308-lve100-k5-test.csv',
    'lgb-308-lve48-k5-test.csv',
    'cat-308-k5-test.csv',
    'lgb-308-lve100-k10-test.csv',

    #1020 dataset
    'lgb-1020-k5-test.csv',
    'cat-1020-k5-test.csv',
    
         ]):
    if df_test is None:
        df_test = pd.read_csv(f)
        df_test.columns = ['reservation_id', 'pred_{}'.format(i)]

    else:
        df1 = pd.read_csv(f)
        df1.columns = ['reservation_id', 'pred_{}'.format(i)]
        df_test = df_test.merge(df1, on ='reservation_id', how='left')

In [4]:
df_test.shape
df_test.head()

(146765, 14)

,reservation_id,pred_0,pred_1,pred_2,pred_3,pred_4,pred_5,pred_6,pred_7,pred_8,pred_9,pred_10,pred_11,pred_12
0,7dae1ce6bc8f69481328f2be5c4943077dad5598b5f66d...,8.480364,8.456067,8.457522,8.396389,8.496654,8.518637,8.525733,8.610805,8.610357,8.446411,8.614714,8.404779,8.351008
1,fe0d4e444e1818436c88f72f1cf800536c2f785e59baeb...,7.449246,7.429349,7.410117,7.438384,7.371304,7.362101,7.364291,7.414856,7.386503,7.373332,7.429333,7.423864,7.343686
2,540bd4285ad8168e8388f84ee74a82cd4f97dc0a404d3e...,7.528749,7.512661,7.506843,7.509965,7.525925,7.530095,7.538614,7.548483,7.550016,7.574092,7.548862,7.583537,7.604109
3,09593c907ae262e46f655b4db9e14f54a19eadcfdd2679...,7.949404,7.944353,7.945618,7.928332,7.913528,7.914500,7.925895,7.918618,7.917494,7.870877,7.928186,7.924144,7.874336
4,f4c50caac68051faf37551d70bb17eebef2a20e2244cb1...,7.852312,7.865017,7.859138,7.850175,7.854010,7.859494,7.867012,7.809019,7.802360,7.849575,7.804147,7.814720,7.840631

In [5]:
df_train = None

for i, f in enumerate([
    'lgb-91-lve100-k5-train.csv',
    'lgb-91-lve48-k5-train.csv',
    'lgb-91-lve48-k10-train.csv',
    'xgb-91-k5-train.csv',
  
    'lgb-480-lve100-k5-train.csv',
    'lgb-480-lve48-k5-train.csv',
    'lgb-480-lve48-k10-train.csv',
    
    'lgb-308-lve100-k5-train.csv',
    'lgb-308-lve48-k5-train.csv',
    'cat-308-k5-train.csv',
    'lgb-308-lve100-k10-train.csv',

    'lgb-1020-k5-train.csv',
    'cat-1020-k5-train.csv',
         
         ]):
    if df_train is None:
        df_train = pd.read_csv(f)
        df_train.columns = ['reservation_id', 'pred_{}'.format(i)]
    else:
        df1 = pd.read_csv(f)
        df1.columns = ['reservation_id', 'pred_{}'.format(i)]
        df_train = df_train.merge(df1, on ='reservation_id', how='left')

In [6]:
df_train.shape
df_train.head()

(341424, 14)

,reservation_id,pred_0,pred_1,pred_2,pred_3,pred_4,pred_5,pred_6,pred_7,pred_8,pred_9,pred_10,pred_11,pred_12
0,07659f3758d8aee27f5a7e2887adeacb67021cb95ada1b...,7.784422,7.856127,7.791188,7.863114,8.092978,8.108400,8.085181,8.057157,8.078749,8.170900,8.050535,7.998109,8.157201
1,03930f033646d073462b35d411616323597715ac4fc398...,6.832303,6.838141,6.852473,6.812069,6.833647,6.828456,6.846222,6.852319,6.857867,6.907383,6.818682,6.737238,6.751716
2,d145a32920e6587ad95bfe299d80c0affa268220535aaf...,7.012539,7.040356,7.001037,6.984588,7.036916,7.036666,6.927139,7.001851,6.926909,6.950157,6.963564,7.048662,6.790682
3,cfd77f44811ed62f25a220b53324cdbafc662a4c9e5f04...,6.992757,6.946020,6.980054,6.888927,6.779105,6.856476,6.721769,6.874880,6.768674,6.876663,6.870498,6.725593,6.783682
4,937cff9e4dcfc2459620153dfc8b9962ac22bea67dfb29...,6.735118,6.761805,6.750217,6.707301,6.725441,6.698603,6.647191,6.806003,6.793889,6.797939,6.695234,6.533002,6.720375

In [7]:
df_train.shape

(341424, 14)

In [8]:
# train.columns
train = pd.read_csv('train.csv')
train.shape

(341424, 24)

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
target_col = 'amount_spent_per_room_night_scaled'
x_train, y_train = df_train[df_train.columns[1:]].values, train[target_col].values
x_train.shape, y_train.shape

((341424, 13), (341424,))

In [11]:
df_train.columns[1:]

Index([u'pred_0', u'pred_1', u'pred_2', u'pred_3', u'pred_4', u'pred_5',
       u'pred_6', u'pred_7', u'pred_8', u'pred_9', u'pred_10', u'pred_11',
       u'pred_12'],
      dtype='object')

In [12]:
# df_train[df_train.columns[1:]].head()

In [13]:
from ml_modules.custom_estimator import Estimator
from ml_modules.custom_fold_generator import FoldScheme

from sklearn.metrics import mean_squared_error
from math import sqrt

def rmse(y_true, y_pred):
    return sqrt(mean_squared_error(y_true, y_pred))

In [14]:
est = Estimator(model=LinearRegression(), random_state=50, validation_scheme=FoldScheme.KFold, 
                eval_metric='rmse', task_type='regression', scoring_metric=rmse, n_splits=10)

In [15]:
est.fit(x_train, y_train)

In [16]:
train_preds = est.transform(x_train)

ml_modules/custom_estimator.py:157: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  return np.mean(np.column_stack((est.predict(x) for est in self.fitted_models)), axis=1)

In [17]:
rmse(y_train, train_preds)

0.9622930116785149

In [18]:
df_test[df_test.columns[1:]].shape

(146765, 13)

In [19]:
y_test = est.transform(df_test[df_test.columns[1:]].values)

In [20]:
df_sub = pd.DataFrame(zip(df_test[u'reservation_id'], y_test), columns=['reservation_id', 'amount_spent_per_room_night_scaled'])
df_sub.to_csv('finalsub-13models.csv', index = False)

In [21]:
df_sub.shape

(146765, 2)